.footer__top {
  margin-bottom: 15px;
}

.footer__medium {
  display: flex;
  justify-content: space-between;
  margin-bottom: 87px;
}
.footer__promo {
  max-width: 383px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.footer__nav {
  display: flex;
  max-width: 670px;
  flex-direction: column;
  height: 87px;
  flex-wrap: wrap;
  gap: 15px 80px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__btn {
  display: flex;
  padding: 21px 0;
  text-align: center;
  justify-content: center;
  width: 290px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 63px;
  background: #2f2f2f;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: #969696;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
