.form{
  padding-top: 210px;
  padding-bottom: 122px;
}
.form__block{
  padding-top: 66px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 106px;
}
.form__left img{
  max-width: 906px;
  object-fit: cover;
}
.form__title{
  margin-bottom: 70px;
}
.form__main{
  display: flex;
  max-width: 670px;
  flex-wrap: wrap;
  /* flex-direction: column; */

}
.form__group{
  display: flex;
  flex-direction: column;
}
.form__group:nth-child(1){
  width: 289px;
  margin-right: 91px;
}
.form__group:nth-child(2){
  width: 289px;
  margin-bottom: 66px;
}
.form__group:nth-child(3){
  width: 100%;

  margin-bottom: 48px;
}
.form__input{
  display: flex;
  padding: 17px 0;
  width: 100%;
  border-bottom: 1px solid #000;
}
.form__checkbox{

  color: #000;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.form__group.form__checkbox{
  flex-direction: row;
  gap: 22px;
  margin-bottom: 68px;
}
.form__checkbox input{
  width: 10px;

}

