.news{
 padding-bottom: 122px;
}

.news__title {
}
.news__top {
  padding-top: 61px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}
.news__all-link {
  display: flex;
  align-items: center;
  gap: 19px;
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.news__item {
  width: calc(50% - 13px);
  min-height: 770px;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}
.news__text{
  background: #F5F5F5;
  padding: 44px 40px;
  height: 349px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.news__btn{
  display: flex;
  align-items: center;
  gap: 22px;
}

.news__text:hover   {
  background: #000;
  color: #fff;

}
.reviews__block{
  display: flex;
  padding-top: 66px;
  margin-bottom: 54px;
}
.reviews__title{
 max-width: 792px;
}
.reviews__slider{
  background: #F2F2F2;
  min-height: 586px;
  width: 847px;
}