.usely {
  padding-top: 122px;
  padding-bottom: 121px;
}

.usely__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.usely__left {
  display: flex;
  align-self: flex-end;
  max-width: 354px;
  padding-bottom: 50px;
}
.usely__right{
  max-width: 100%;
}
.usely__title {
  margin-bottom: 21px;
}
.usely__text {
  margin-bottom: 53px;
}
.swiper-wrapper.sw-usely-wrapper {
  max-width: 1124px;
  height: 770px;
  width: 100%;
}

.sw-usely-slide {
  height: 694px;
}

.sw-usely-pagination.swiper-pagination-progressbar {
  top: auto;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 11px;
  /* background: rgba(255, 88, 32, 1); */
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgba(255, 88, 32, 1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev.sw-btn-prev-usely{
    display: block;
    top: auto;
    bottom: 0px;
    left: auto;
    right: 90px;
    width: 72px;
  }
  .swiper-button-next.sw-btn-next-usely{
    display: block;
    top: auto;
    bottom: 0px;
    left: auto;
    right: 0;
    width: 72px;

  }

@media (max-width:1500px){
  .swiper-wrapper.sw-usely-wrapper {
    width: 1400px;
    max-width: 100%;
  }
   .usely__left-text.t__24-black-normal{
    display: none;
   }
}