.project {
  background: #2f2f2f;
  padding-top: 60px;
  padding-bottom: 352px;
}
.project__title {
  padding-bottom: 65px;
}
.project__subtitle {
  text-align: center;
  max-width: 735px;
  margin: 0 auto;
  margin-bottom: 65px;
}
.project__subtitle.t__24-white-normal{
  font-weight: 400;
}
.project__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.project__item {
  height: 618px;
  background: #4C4C4C;
  padding: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.project__text.t__24-white-bold {
  font-weight: 500;
}
.project__item:nth-child(1){
  grid-column: 2/3;
}